/* Tipografias */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  color: white;
  margin: 0;
  border: 0;
}

.indexbody {
  background-image: url(../Assets/la-revista-thrasher-no-quiere-que-los-famosos-lleven-sus-camisetas.png);
}

.logo {
  width: 135px;
  margin: 15px;
}

footer {
  background-color: gray;
  padding: 20px;
  text-align: center;
}

header {
  background-color: gray;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Ajusta la altura */
  text-align: center;
}

.welcome-message {
  max-width: 600px;
  margin: 0 auto;
}

.btn-discover {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: transparent; /* Botón transparente */
  color: white; /* Color del texto del botón */
  text-decoration: none;
  border: 2px solid white; /* Borde del botón */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Transición de color al hacer hover */
}

.btn-discover:hover {
  background-color: orange; /* Color de fondo al hacer hover */}

/* cards */

.welcome-message h1{
  text-shadow: 30px;
}